:root {
  --mobile: 576px;
  --tablet: 768px;
  --ipad: 992px;
  --notebook: 1200px;
  --deskotop: 1400px;
  --bg-orange:  #FF6224;
  --text-color-white: #EBE4DE;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color-white);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  text-align: center;
  /* border: 1px solid blue; */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

small {
  font-size: 80%;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}
